
<div class="blog-masthead">
	<div class="container">
        <div class="navbar-brand">
        	<div class="navbar-padding">
           		<img id="logo" class="displayed" width="522" height="72" src='images/titlescreenlogo.png'></img>
            </div>
        </div>
	</div>
</div>